@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Circe/Circe-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Circe/Circe-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circe/Circe-Bold.ttf") format("ttf");
}
* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
}

.nav {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  text-transform: uppercase;
  color: #292d32;
}

.rightBoard__counter {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.li__header {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.messageBox__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.messageBox__subheder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.contactBox__header {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.contactBox__content {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.input__header {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.bot__header {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.bot__content {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 27px 260px 26px 260px;
}

.leftBoard {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}
.leftBoard .logo {
  width: 70px;
  height: 70px;
}
.leftBoard nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.leftBoard .nav {
  cursor: pointer;
}
.leftBoard .searchIcon {
  width: 20px;
  left: 20px;
  margin-left: -9.26px;
}

.rightBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.rightBoard .rightIcon {
  width: 49px;
  height: 49px;
}
.rightBoard .rightBoard__cartBox {
  position: relative;
}
.rightBoard .rightBoard__counter {
  border-radius: 50%;
  background: #33a9ff;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  position: relative;
}

.messageBox {
  position: absolute;
  left: 260px;
  right: 260px;
  bottom: 180px;
  width: 1400px;
  height: 842px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.messageBox .messageBox__IMG {
  position: absolute;
  top: 142px;
  bottom: 109.84px;
  left: 492px;
}
.messageBox .messageBox__left {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 100px 165px 111px 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: white;
  gap: 52px;
  border-radius: 20px 0px 0px 20px;
  color: #292d32;
}
.messageBox .messageBox__headerBox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.messageBox .messageBox__contactBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 21px;
}
.messageBox .contactBox__icon {
  width: 36px;
  height: 36px;
}
.messageBox .contactBox__text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.messageBox .messageBox__right {
  padding: 100px 129px 103px 129px;
  width: 50%;
  height: 100%;
  background: #292d32;
  border-radius: 0px 20px 20px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 53px;
}
.messageBox .messageBox__inputsBox {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.messageBox .inputBox {
  position: relative;
}
.messageBox .messageBox__input {
  width: 434px;
  height: 59.25px;
  background: #292d32;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: none;
  color: white;
}
.messageBox .comment {
  height: 145.25px;
}
.messageBox .input__header {
  position: absolute;
  background: #292d32;
  padding: 7px 11px;
  top: -17px;
  left: 28px;
}
.messageBox .messageBox__btnBox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: start;
  align-items: center;
}

footer {
  width: 100%;
  padding: 0px 260px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
footer .footer__top {
  padding: 60px 0px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 180px;
}
footer .footer__bot {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 40px 0px;
  gap: 153px;
  border-top: 1px solid #e5e5e5;
}
footer .footer__logo {
  width: 112px;
  height: 112px;
  margin-right: 10px;
}
footer .footer__column {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .bot__column {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 11px;
  flex-direction: column;
}
footer .bot__soc {
  width: 93.71px;
  height: 37.71px;
}

.btn__blue {
  width: 55px;
  height: 55px;
  background: #33a9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10.51px 19.89px 9.34px 22.23px;
  font-family: Circe;
  font-size: 19px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
