@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
    font-display: swap;
    font-family: "Circe";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Circe/Circe-Light.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "Circe";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Circe/Circe-Regular.ttf") format("ttf");
}

@font-face {
    font-display: swap;
    font-family: "Circe";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Circe/Circe-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-Bold.eot");
    src:
        local("Euclid Circular A Bold"),
        local("EuclidCircularA-Bold"),
        url("../fonts/Euclid Circular/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-Bold.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-Bold.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-Light.eot");
    src:
        local("Euclid Circular A Light"),
        local("EuclidCircularA-Light"),
        url("../fonts/Euclid Circular/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-Light.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-Light.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.eot");
    src:
        local("Euclid Circular A Bold Italic"),
        local("EuclidCircularA-BoldItalic"),
        url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.eot");
    src:
        local("Euclid Circular A Light Italic"),
        local("EuclidCircularA-LightItalic"),
        url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-Regular.eot");
    src:
        local("Euclid Circular A Regular"),
        local("EuclidCircularA-Regular"),
        url("../fonts/Euclid Circular/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-Regular.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-Regular.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.eot");
    src:
        local("Euclid Circular A SemiBold"),
        local("EuclidCircularA-SemiBold"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-Medium.eot");
    src:
        local("Euclid Circular A Medium"),
        local("EuclidCircularA-Medium"),
        url("../fonts/Euclid Circular/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-Medium.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-Medium.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-Italic.eot");
    src:
        local("Euclid Circular A Italic"),
        local("EuclidCircularA-Italic"),
        url("../fonts/Euclid Circular/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-Italic.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-Italic.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.eot");
    src:
        local("Euclid Circular A SemiBold Italic"),
        local("EuclidCircularA-SemiBoldItalic"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Euclid Circular A";
    src: url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.eot");
    src:
        local("Euclid Circular A Medium Italic"),
        local("EuclidCircularA-MediumItalic"),
        url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.woff2") format("woff2"),
        url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.woff") format("woff"),
        url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}
$color-black: #292d32;
$color-lightBlack: #343a41;
$color-grey: #838383;
$color-lightGrey: #e5e5e5;
$color-lightBlue: #33a9ff;
$color-white: rgb(255, 255, 255);
$color-darkWhite: #f2f2f2;
* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 1920px;
    background: $color-darkWhite;
}
// fonts config
.nav {
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    text-transform: uppercase;
    color: $color-black;
}
.rightBoard__counter {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-white;
}

li {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.li__header {
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-black;
}
.benefit__header {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}
.benefit__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.card__header {
    font-family: Euclid Circular A;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.card__text {
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.lastNews__header {
    font-size: 50px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-black;
}
.lastNews__subheader {
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.newBox__day {
    font-size: 20px;
    font-weight: 900;
    line-height: 23.44px;
    color: $color-black;
}
.newBox__mounth {
    font-size: 10px;
    font-weight: 300;
    line-height: 11.72px;
    color: $color-grey;
}
.newBox__header {
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    width: 200px;
}
.newBox__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.messageBox__header {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}
.messageBox__subheder {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.contactBox__header {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.contactBox__content {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-black;
}
.input__header {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.bot__header {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
}
.bot__content {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-black;
}

//1920 format

//header
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 27px 260px 26px 260px;
    background: $color-white;
}
.leftBoard {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    .logo {
        width: 70px;
        height: 70px;
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: 45px;
    }
    .nav {
        cursor: pointer;
    }
    .searchIcon {
        width: 20px;
        left: 20px;
        margin-left: -9.26px;
    }
}
.rightBoard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .rightIcon {
        width: 49px;
        height: 49px;
    }
    .rightBoard__cartBox {
        position: relative;
    }
    .rightBoard__counter {
        border-radius: 50%;
        background: $color-lightBlue;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }
}

//body
main {
    position: relative;
}
.benefit {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0 260px 46px 260px;
    .benefit__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .benefit__mainImg {
        width: 874px;
    }
    .benefit__headerBox {
        min-width: 786px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        padding-right: 268px;
        margin-bottom: 6px;
    }
    .benefit__btnBox {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: baseline;
        gap: 12px;
    }
    .benefit__cardsBox {
        display: flex;
        flex-direction: row;
        gap: 27px;
        justify-content: start;
        align-items: center;
    }
    .benefit__card {
        background: $color-black;
        color: $color-white;
        width: 330px;
        height: 289px;
        padding: 30px 24px 35px 30px;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
    }
    .card__rightLine {
        position: absolute;
        right: 0;
        top: 0;
        width: 139.5px;
        height: 90px;
    }
    .card__iconBox {
        width: 70px;
        height: 70px;
        background: $color-lightBlack;
        padding: 17px;
        border-radius: 10px;
    }
    .card__content {
        display: flex;
        flex-direction: column;
        justify-self: start;
        align-items: start;
        gap: 13px;
    }
}

.lastNews {
    width: 100%;
    padding: 172px 260px 526px 260px;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 60px;
    background: $color-white;
    .lastNews__headerBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .lastNews__text {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 25px;
        max-width: 721px;
    }
    .lastNews__btnBox {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 17px;
    }
    .allNewsBox {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 28px;
    }
    .newBox__fon {
        position: relative;
        height: 262px;
    }

    .newBox__img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 25% 0% 25% 0% / 25% 0% 25% 25%;
        z-index: 0;
    }
    .newBox__wave {
        position: absolute;
        top: 219px;
        width: 331px;
        height: 43px;
        background: $color-white;
        border-radius: 25% 46% 25% 0% / 0% 51% 0% 25%;
    }
    .newBox__date {
        position: absolute;
        z-index: 1;
        top: 65px;
        left: 390px;
        width: 50px;
        height: 97px;
        border-radius: 15px;
        background: $color-white;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 21px;
        text-align: center;
    }
    .newBox__bot {
        width: 100%;
        margin-top: -24px;
        padding: 0 31px 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        position: relative;
    }
    .newBox__content {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
    .newBox__btnBox {
        position: absolute;
        left: 329px;
        bottom: 46px;
    }
}
.messageBox {
    position: absolute;
    left: 260px;
    right: 260px;
    bottom: 180px;
    width: 1400px;
    height: 842px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 0;
    .messageBox__IMG {
        position: absolute;
        top: 142px;
        bottom: 109.84px;
        left: 492px;
    }
    .messageBox__left {
        position: relative;
        width: 50%;
        height: 100%;
        padding: 100px 165px 111px 100px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background: $color-white;
        gap: 52px;
        border-radius: 20px 0px 0px 20px;
        color: $color-black;
    }
    .messageBox__headerBox {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .messageBox__contactBox {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
        gap: 21px;
    }
    .contactBox__icon {
        width: 36px;
        height: 36px;
    }
    .contactBox__text {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        gap: 8px;
    }
    .messageBox__right {
        padding: 100px 129px 103px 129px;
        width: 50%;
        height: 100%;
        background: $color-black;
        border-radius: 0px 20px 20px 0px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 53px;
    }
    .messageBox__inputsBox {
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .inputBox {
        position: relative;
    }
    .messageBox__input {
        width: 434px;
        height: 59.25px;
        background: $color-black;
        border: 2px solid rgba($color-white, 0.5);
        border-radius: 16px;
        box-shadow: none;
        color: $color-white;
    }
    .comment {
        height: 145.25px;
    }
    .input__header {
        position: absolute;
        background: $color-black;
        padding: 7px 11px;
        top: -17px;
        left: 28px;
    }
    .messageBox__btnBox {
        display: flex;
        flex-direction: row;
        gap: 12px;
        justify-content: start;
        align-items: center;
    }
}
.ourContacts {
    width: 100%;
    height: 676px;
}

//footer
footer {
    width: 100%;
    padding: 0px 260px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background: $color-white;
    .footer__top {
        padding: 60px 0px;

        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: row;
        gap: 180px;
    }
    .footer__bot {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        padding: 40px 0px;
        gap: 153px;
        border-top: 1px solid $color-lightGrey;
    }
    .footer__logo {
        width: 112px;
        height: 112px;
        margin-right: 10px;
    }
    .footer__column {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .bot__column {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 11px;
        flex-direction: column;
    }
    .bot__soc {
        width: 93.71px;
        height: 37.71px;
    }
}

//UI
.btn__blue,
.btn__black {
    width: 55px;
    height: 55px;
    background: $color-lightBlue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.51px 19.89px 9.34px 22.23px;
    font-family: Circe;
    font-size: 19px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}
.btn__black {
    background: $color-black;
    border: 12px solid $color-white;
    padding: 23px;
}
