@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Circe/Circe-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Circe/Circe-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circe/Circe-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../fonts/Euclid Circular/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../fonts/Euclid Circular/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-Light.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.eot");
  src: local("Euclid Circular A Bold Italic"), local("EuclidCircularA-BoldItalic"), url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.eot");
  src: local("Euclid Circular A Light Italic"), local("EuclidCircularA-LightItalic"), url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-Regular.eot");
  src: local("Euclid Circular A Regular"), local("EuclidCircularA-Regular"), url("../fonts/Euclid Circular/EuclidCircularA-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-Regular.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-Regular.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.eot");
  src: local("Euclid Circular A SemiBold"), local("EuclidCircularA-SemiBold"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-Medium.eot");
  src: local("Euclid Circular A Medium"), local("EuclidCircularA-Medium"), url("../fonts/Euclid Circular/EuclidCircularA-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-Medium.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-Medium.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-Italic.eot");
  src: local("Euclid Circular A Italic"), local("EuclidCircularA-Italic"), url("../fonts/Euclid Circular/EuclidCircularA-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-Italic.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-Italic.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.eot");
  src: local("Euclid Circular A SemiBold Italic"), local("EuclidCircularA-SemiBoldItalic"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.eot");
  src: local("Euclid Circular A Medium Italic"), local("EuclidCircularA-MediumItalic"), url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.woff2") format("woff2"), url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.woff") format("woff"), url("../fonts/Euclid Circular/EuclidCircularA-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  background: #f2f2f2;
  overflow-x: hidden;
}

.nav {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  text-transform: uppercase;
  color: #292d32;
}

.rightBoard__counter {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: rgb(255, 255, 255);
}

li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.li__header {
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.sliderBox__subheader {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.sliderBox__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
}

.sidebar__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.otherOffers__text {
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.textCard__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.textCard__subheader {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: -17px;
  color: #838383;
}

.card__number {
  font-size: 25px;
  font-weight: 100;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.card__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.card__header {
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.benefit__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.benefit__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.card__header {
  font-family: Euclid Circular A;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
}

.card__text {
  font-family: Euclid Circular A;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.lastNews__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.lastNews__subheader {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.newBox__day {
  font-size: 20px;
  font-weight: 900;
  line-height: 23.44px;
  color: #292d32;
}

.newBox__mounth {
  font-size: 10px;
  font-weight: 300;
  line-height: 11.72px;
  color: #838383;
}

.newBox__header {
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  width: 200px;
}

.newBox__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.messageBox__header {
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}

.messageBox__subheder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.contactBox__header {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.contactBox__content {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.input__header {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.bot__header {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.bot__content {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 27px 260px 26px 260px;
  background: rgb(255, 255, 255);
}

.leftBoard {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}
.leftBoard .logo {
  width: 70px;
  height: 70px;
}
.leftBoard nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.leftBoard .nav {
  cursor: pointer;
}
.leftBoard .searchIcon {
  width: 20px;
  left: 20px;
  margin-left: -9.26px;
}

.rightBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.rightBoard .rightIcon {
  width: 49px;
  height: 49px;
}
.rightBoard .rightBoard__cartBox {
  position: relative;
}
.rightBoard .rightBoard__counter {
  border-radius: 50%;
  background: #33a9ff;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.sliderBlock {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 100%;
  padding: 0 0 0 260px;
  justify-content: start;
  align-items: center;
}
.sliderBlock .Dell__img {
  position: absolute;
  top: 97.4px;
  left: 260px;
  z-index: -1;
}
.sliderBlock .sidebar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16.5px;
  transform: rotate(-90deg);
}
.sliderBlock .sidebar__text {
  width: 120px;
}
.sliderBlock .sidebar__imgs {
  transform: rotate(90deg);
}
.sliderBlock .sliderBox {
  position: relative;
  padding: 0 60px;
  width: 1081px;
  display: flex;
  flex-direction: row;
  justify-self: start;
  align-items: center;
}
.sliderBlock .sliderBox__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: start;
  align-items: start;
  width: 446px;
}
.sliderBlock .sliderBox__btnBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: start;
  gap: 12px;
}
.sliderBlock .sliderBox__imgs {
  max-height: 555px;
  padding: 74px 0 54px 0;
}
.sliderBlock .sliderBox__tracker {
  position: absolute;
  right: 40px;
  bottom: 115px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 69px;
}
.sliderBlock .tracker {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #d0d0d0;
}
.sliderBlock .tracker_active {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #292d32;
}
.sliderBlock .otherOffers {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.sliderBlock .otherOffers__content {
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: start;
  align-items: end;
  background-image: url(/imgs/otherOffers.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 63px 40px;
}
.sliderBlock .otherOffers__text {
  max-width: 181px;
}
.sliderBlock .otherOffers__arrowBox {
  height: 203px;
  width: 100%;
  padding: 16px 0 0 40px;
}

.catalog {
  padding: 160px 260px 180px 260px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}
.catalog .catalog__textCard {
  display: flex;
  flex-direction: column;
  gap: 46px;
  justify-self: start;
  align-items: start;
  padding: 0 40px 40px 40px;
}
.catalog .catalog__btnBox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: baseline;
}
.catalog .catalog__card {
  position: relative;
  background: #f2f2f2;
  border-radius: 20px;
  width: 400px;
  height: 371px;
  display: flex;
  flex-direction: column;
  align-content: end;
  justify-content: end;
  gap: 46px;
  flex-wrap: nowrap;
}
.catalog .card__number {
  position: absolute;
  top: 50px;
  left: 40px;
}
.catalog .card__imgBox {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
}
.catalog .card__textBox {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 19px;
  padding: 0 40px 45px 40px;
}

.benefit {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0 260px 46px 260px;
}
.benefit .bestImg {
  position: absolute;
  top: 152px;
  left: 10px;
}
.benefit .benefit__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.benefit .benefit__mainImg {
  width: 874px;
}
.benefit .benefit__headerBox {
  min-width: 786px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  padding-right: 268px;
  margin-bottom: 6px;
}
.benefit .benefit__btnBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 12px;
}
.benefit .benefit__cardsBox {
  display: flex;
  flex-direction: row;
  gap: 27px;
  justify-content: start;
  align-items: center;
}
.benefit .benefit__card {
  background: #292d32;
  color: rgb(255, 255, 255);
  width: 330px;
  height: 289px;
  padding: 30px 24px 35px 30px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}
.benefit .card__rightLine {
  position: absolute;
  right: 0;
  top: 0;
  width: 139.5px;
  height: 90px;
}
.benefit .card__iconBox {
  width: 70px;
  height: 70px;
  background: #343a41;
  padding: 17px;
  border-radius: 10px;
}
.benefit .card__content {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: start;
  gap: 13px;
}

.lastNews {
  width: 100%;
  padding: 172px 260px 526px 260px;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  gap: 60px;
  background: rgb(255, 255, 255);
}
.lastNews .lastNews__headerBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.lastNews .lastNews__text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
  max-width: 721px;
}
.lastNews .lastNews__btnBox {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 17px;
}
.lastNews .allNewsBox {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.lastNews .newBox__fon {
  position: relative;
  height: 262px;
}
.lastNews .newBox__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25% 0% 25% 0%/25% 0% 25% 25%;
  z-index: 0;
}
.lastNews .newBox__wave {
  position: absolute;
  top: 219px;
  width: 331px;
  height: 43px;
  background: rgb(255, 255, 255);
  border-radius: 25% 46% 25% 0%/0% 51% 0% 25%;
}
.lastNews .newBox__date {
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 390px;
  width: 50px;
  height: 97px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: center;
}
.lastNews .newBox__bot {
  width: 100%;
  margin-top: -24px;
  padding: 0 31px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  position: relative;
}
.lastNews .newBox__content {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.lastNews .newBox__btnBox {
  position: absolute;
  left: 329px;
  bottom: 46px;
}

.messageBox {
  position: absolute;
  left: 260px;
  right: 260px;
  bottom: 180px;
  width: 1400px;
  height: 842px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  gap: 0;
}
.messageBox .messageBox__IMG {
  position: absolute;
  top: 142px;
  bottom: 109.84px;
  left: 492px;
}
.messageBox .messageBox__left {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 100px 165px 111px 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background: rgb(255, 255, 255);
  gap: 52px;
  border-radius: 20px 0px 0px 20px;
  color: #292d32;
}
.messageBox .messageBox__headerBox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.messageBox .messageBox__contactBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 21px;
}
.messageBox .contactBox__icon {
  width: 36px;
  height: 36px;
}
.messageBox .contactBox__text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 8px;
}
.messageBox .messageBox__right {
  padding: 100px 129px 103px 129px;
  width: 50%;
  height: 100%;
  background: #292d32;
  border-radius: 0px 20px 20px 0px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 53px;
}
.messageBox .messageBox__inputsBox {
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.messageBox .inputBox {
  position: relative;
}
.messageBox .messageBox__input {
  width: 434px;
  height: 59.25px;
  background: #292d32;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: none;
  color: rgb(255, 255, 255);
}
.messageBox .comment {
  height: 145.25px;
}
.messageBox .input__header {
  position: absolute;
  background: #292d32;
  padding: 7px 11px;
  top: -17px;
  left: 28px;
}
.messageBox .messageBox__btnBox {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: start;
  align-items: center;
}

.ourContactsBox {
  position: relative;
  width: 100%;
  height: 676px;
}
.ourContactsBox .ourContactsText {
  position: absolute;
  left: 0;
  top: 164px;
}

footer {
  width: 100%;
  padding: 0px 260px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
footer .footer__top {
  padding: 60px 0px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 180px;
}
footer .footer__bot {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 40px 0px;
  gap: 153px;
  border-top: 1px solid #e5e5e5;
}
footer .footer__logo {
  width: 112px;
  height: 112px;
  margin-right: 10px;
}
footer .footer__column {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .bot__column {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 11px;
  flex-direction: column;
}
footer .bot__soc {
  width: 93.71px;
  height: 37.71px;
}

.btn__blue,
.btn__black {
  width: 55px;
  height: 55px;
  background: #33a9ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10.51px 19.89px 9.34px 22.23px;
  font-family: Circe;
  font-size: 19px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}

.btn__black {
  background: #292d32;
  border: 12px solid rgb(255, 255, 255);
  padding: 23px;
}

/*# sourceMappingURL=style.css.map */
