@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
}
* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
}

.nav {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  text-transform: uppercase;
  color: #292d32;
}

.rightBoard__counter {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

li {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.li__header {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

.bot__header {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #838383;
}

.bot__content {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #292d32;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 27px 260px 26px 260px;
}

.leftBoard {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}
.leftBoard .logo {
  width: 70px;
  height: 70px;
}
.leftBoard nav {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.leftBoard .nav {
  cursor: pointer;
}
.leftBoard .searchIcon {
  width: 20px;
  left: 20px;
  margin-left: -9.26px;
}

.rightBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.rightBoard .rightIcon {
  width: 49px;
  height: 49px;
}
.rightBoard .rightBoard__cartBox {
  position: relative;
}
.rightBoard .rightBoard__counter {
  border-radius: 50%;
  background: #33a9ff;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

footer {
  width: 100%;
  padding: 0px 260px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
footer .footer__top {
  padding: 60px 0px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  gap: 180px;
}
footer .footer__bot {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding: 40px 0px;
  gap: 153px;
  border-top: 1px solid #e5e5e5;
}
footer .footer__logo {
  width: 112px;
  height: 112px;
  margin-right: 10px;
}
footer .footer__column {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .bot__column {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 11px;
  flex-direction: column;
}
footer .bot__soc {
  width: 93.71px;
  height: 37.71px;
}

/*# sourceMappingURL=style.css.map */
